<div class="container">
    <form class="login-form" (submit)="registrateUser($event)">
      <h1>Registration</h1>
      <div>
        <label  for="username">Username: </label>
        <input id="username" type="text" name="username" value="">
      </div>
      <div>
        <label for="password">Password: </label>
        <input id="password" type="password" name="password" value="">
      </div>
      <div>
        <label for="password">Email: </label>
        <input id="email" type="email" name="email" value="">
      </div>
        <button class="button btn-success" type="submit">Registrate</button>
        <button class="button" type="button" routerLink="/login">Cancel</button>
    </form>
</div>
